/**
  * Copyright © TradeTracker. All rights reserved.
  * See COPYING.txt for license details.
  */

@import '_buttons';
@import './variables/_colors.less';

//
//  Header
//  ---------------------------------------------

.tradetracker-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  margin-bottom: 25px;
  padding: 2.8rem 1.8rem 2.8rem 12.5rem;

  border: 1px solid fade(@tradetracker-color-gray_light, 25%);
  border-left: 4px solid @tradetracker-color__orange;
  border-radius: 8px;
  background: ~'no-repeat 2rem .7rem / 8.5rem';

  font-size: 1.3rem;
  text-align: left;
}

.tradetracker-header-text {
  display: grid;
  grid-gap: 4px;
  flex: 1;
  margin-top: 4px;

  strong {
    margin-bottom: 2px;
    font-size: 1.4rem;
  }

  div {
    max-width: 420px;
  }
}

.tradetracker-header-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

//
//  Heading blocks
//  ---------------------------------------------

.tradetracker-heading-block {
  border: 0.1rem solid @color-gray90;
  border-left: 3px solid @bordercolor;
  font-size: 1.3rem;
  display: flow-root;
  text-align: left;
  background: @color-white-fog;
  padding: 1rem;
  color: @tradetracker-color__1;
}

.tradetracker-heading-comment {
  padding: 1rem 0rem 0rem 1rem;
  font-size: 1.2rem;
  line-height: 2.5rem;
  border-left: 4px solid @color-white-fog;
}

.tradetracker-recommend {
  color: @bordercolor;
  font-weight: 600;
  display: block;
  padding: 3px 0px 3px 0px;
}

//
//  Results
//  ---------------------------------------------

.tradetracker-result {

  &_error-item,
  &_debug-item {
    flex-wrap: wrap;
    display: flex;
    padding: 1.5rem 1rem;
    background: @color-white;

    &:nth-child(odd) {
      background: @tradetracker-bg__odd;
    }

    strong {
      margin-bottom: 0.7rem;
      margin-right: 20px;
    }
  }

  &_test-item {
    display: flex;
    border-bottom: 0.1rem solid @color-white;
    padding: 1.5rem 0 1.5rem 1rem;
    min-height: 75px;

    &:nth-child(odd) {
      background: @tradetracker-bg__odd;
    }

    &:before {
      margin-right: 2rem;
      font-size: 2.5rem;
    }

    &.success:before {
      color: @tradetracker-color__green-light;
    }

    &.success {
      color: @tradetracker-color__green-light;
    }

    &.failed {

      &:before {
        color: @tradetracker-color__red;
      }

      em {
        color: @tradetracker-color__orange;
      }
    }

    strong {
      flex-basis: 10%;
      font-weight: 600;
    }

    span {
      flex-basis: 60%;
    }

    .tradetracker-icon__help-rounded {
      color: @tradetracker-color__red;
      font-size: 2rem;
      margin-left: auto;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

//
//  Changelog
//  ---------------------------------------------

#tradetracker-result_changelog .result {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0 0;
}

.tradetracker-result_changelog-item {
  padding: 0.8rem 1.6rem 1.6rem;

  &:nth-child(odd) {
    background: #F6F8FA;
  }

  &:nth-child(even) {
    background: #EDEFF1;
  }

  & > div {
    margin-top: 1rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  .tradetracker-divider {
    display: inline-block;
    padding: 0 0.4rem;
    font-size: 1.8rem;
    opacity: 0.5;
  }
}

//
//  Modals
//  ---------------------------------------------

.modal-content .popup-loading {
  padding: 50px;
}

.modal-slide .modal-header .action-close {
  padding: 2.1rem 2.6rem;
}

//
//  Show more
//  ---------------------------------------------

.tradetracker-show-more-active {

  .tradetracker-show-more-block {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;

    br {
      display: initial;
    }
  }

  .tradetracker-show-more-actions {

    .tradetracker-show-btn-more {
      display: none;
    }

    .tradetracker-show-btn-less {
      display: initial;
    }
  }
}

.tradetracker-show-more-block {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: 0.3s ease;

  br {
    display: none;
  }
}

.tradetracker-show-more-actions {

  a {
    text-decoration: underline;
    color: @tradetracker-color__orange;
  }

  .tradetracker-show-btn-less {
    display: none;
  }
}

//
//  Feed table
//  ---------------------------------------------

.block-tradetracker-feeds .title {
  clear: both;
  color: #0A0A0A;
  cursor: pointer;
  display: block;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: .025em;
  padding: 1.9rem 2.8rem 1.9rem 0;
  position: relative;
  text-decoration: none;
  transition: color .15s linear;
}

.block-tradetracker-feeds-table {
  border-top: 1px solid rgba(81, 73, 67, 0.15);
  width: 99%;
  color: #666;
  text-align: left;
  border-right: 1px solid rgb(223, 222, 221);
  border-left: 2px solid #EA4C00;
  font-size: 14px;
  margin: 20px 0 0;
  padding: 20px;
  background: #F8F8F8;
}

.block-tradetracker-feeds-table tr {
  border-bottom: 1px solid #DFDEDD;
}

.block-tradetracker-feeds-table tr td {
  padding: 10px;
}

.block-tradetracker-feeds-table a.generate {
  color: #EB5202;
  line-height: 2em;
}

.block-tradetracker-feeds-table a.generate:before {
  content: '\e610';
  font-family: 'Admin Icons';
  margin-right: 9px;
  font-size: 16px;
  float: left;
}

.block-tradetracker-feeds-table a.preview {
  color: #185B00;
  line-height: 2em;
}

.block-tradetracker-feeds-table a.preview:before {
  content: '\e60f';
  font-family: 'Admin Icons';
  margin-right: 9px;
  font-size: 9px;
  float: left;
}

.block-tradetracker-feeds-table a.download:before {
  content: '\e616';
  font-family: 'Admin Icons';
  font-size: 15px;
  margin-right: 10px;
  float: left;
}

.block-tradetracker-feeds-table a.download {
  color: #666666;
  line-height: 2em;
}

.block-tradetracker-feeds-table .enable {
  color: #eb5203;
  line-height: 2em;
}

.block-tradetracker-feeds-table .enable small {
  color: grey;
}

.block-tradetracker-feeds-table .enable:before {
  content: '\e623';
  font-family: 'Admin Icons';
  margin-right: 9px;
  font-size: 12px;
  float: left;
}

//
//  Navigation tab icon
//  ---------------------------------------------

.admin__page-nav._collapsed.magmodules-extensions .title:before {
  display: none;
}
